/******************

 Grid stuff

- Default grid used is Susy (http://susy.oddbird.net/)

 ******************/

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 4,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);


@include border-box-sizing;

@include layout($susy);

.wrap, #content{
	padding: 0 $mobile-padding;

	@include breakpoint($bkpt-1024){
		// @include with-grid-settings($break,$column-width,$gutter-width,$mobile-padding) {
		  @include container($susy); 
		// }
		// @include susy-grid-background; //This will show a grid if you unquote it
	}
}


// You shouldn't have to edit anything below here

@include breakpoint($bkpt-1024){
	.one{

		@include span(1);
	}
	.two{

		@include span(2);
	}
	.three{
		@include span(3);
	}
	.four{
		@include span(4);
	}
	.five{
		@include span(5);
	}
	.six{
		@include span(6);
		@include last; 
	}
	.pushOne{
		@include push(1);
	}
	.pushTwo{
		@include push(2);
	}
	.pushThree{
		@include push(3);
	}
	.pushFour{
		@include push(4);
	}
	.pushFive{
		@include push(4);
	}
	.pushSix{
		@include push(4);
	}
	.omega{
		 @include omega;
	}

}
