/******************

Mixins

******************/

@import "compass/css3/background-size";

@mixin bgnd-retina($file, $type) {
  $image: ($file + '.' + $type);
  background-image: image-url($image);
 
  @media only screen and (-webkit-min-device-pixel-ratio: 2)
  {
    $image2x: ($file + '@2x.' + $type);
    background-image: image-url($image2x);
    @include background-size(image-width($image) auto);
  }
}

@mixin background-image-retina($file, $type) {
  $image: ($file + '.' + $type);
  background-image: image-url($image);
  height: image-height($image);
  width: image-width($image);

  @media only screen and (-webkit-min-device-pixel-ratio: 2)
  {
    $image2x: ($file + '@2x.' + $type);
    background-image: image-url($image2x);
    @include background-size(image-width($image) auto);
  }
}

@mixin image-replacement($file, $type) {
  @include background-image-retina($file, $type);
  background-position: 0 0;
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
@mixin header-replacement($file, $type) {
	$image: ($file + '.' + $type);
	background-image: image-url($image);
	height: image-height($image)/2;
	width: image-width($image)/2;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	@media only screen and (-webkit-min-device-pixel-ratio: 2)
	{
	  $image2x: ($file + '@2x.' + $type);
	  background-image: image-url($image2x);
	  // @include background-size(image-width($image)/2 auto);
	}
}

@mixin fullscreenbackground($image){
	$background-file-name: $image;
	background-image: image-url($background-file-name);
	background-repeat: no-repeat;
	background-position: center center;
	@include breakpoint($bkpt-1024){
		background-attachment: fixed;
		background-size: cover;
	}
	/* for background-size:cover replacement on iOS devices */
	@media only screen and (orientation: portrait) and (device-width: 320px), (device-width: 768px) {
		-webkit-background-size: auto 150%;
		background-attachment: scroll;
		background-position: top center;
	}
	@media only screen and (orientation: landscape) and (device-width: 320px), (device-width: 768px) {
		-webkit-background-size: 150% auto;
		background-attachment: scroll;
		background-position: top center;
	}
}

@mixin beforeafter{
	content:"";
	display: block;
}

// vertically centers element in its parent (needs position and height declaration)
@mixin vertical-align {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	right: 0;
	@include breakpoint($bkpt-768){
		position: relative;
	}
}
@mixin reset-ul {
	display: block; 
	list-style-type: disc; 
	margin: 1em 0; 
	padding-left: 40px;
	li{
		display: list-item;
	}
}
@mixin reset-ol {
	display: block; 
	list-style-type: decimal; 
	margin: 1em 0; 
	padding-left: 40px;
	li{
		display: list-item;
	}
}
%fullheight{
  min-height: 100vh;
  @include breakpoint($bkpt-768){
    min-height: 0;
    height:  calc(100vh);
  }
}
%peakheight{
  min-height: 80vh;
  @include breakpoint($bkpt-768){
    height: 90vh;
    min-height: 0;
  }
}


%halfheight{
  min-height: 50vh;
  @include breakpoint($bkpt-768){
    height: 50vh;
    box-sizing: border-box;
    min-height: 0;
  }
}

%leader-sm-height{
  min-height: 350px;
  @include breakpoint($bkpt-768){
    box-sizing: border-box;
    height: 350px
  }
  @include breakpoint($bkpt-1600){
    height: 40vh;
  }
}
%leader-smr-height{
  min-height: 150px;
  @include breakpoint($bkpt-768){
    box-sizing: border-box;
    height: 150px
  }
}

%unheight{
  min-height: auto;
  @include breakpoint($bkpt-768){
    height: auto;
    min-height: auto;
  }
}

%clearfix {
	*zoom: 1;
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}

@mixin icon-maker($image){
  a{
      @include image-replacement($image, "png");
      background-position: 50%;
      width: 100%;
  }
}


// Fontface

@mixin font-builder($font-name, $font-face, $weight){
    @font-face {
        font-family: $font-name;
        // src: url('../webfonts/#{$font-face}-webfont.eot');
        // src: url('../webfonts/#{$font-face}-webfont.eot?#iefix') format('embedded-opentype'),
            src: url('../webfonts/#{$font-face}.woff') format('woff'),
             url('../webfonts/#{$font-face}.ttf') format('truetype');
             // url('../webfonts/#{$font-face}-webfont.svg') format('svg');
        font-weight: $weight;
        font-style: normal;
    }
    //     @font-face {
    //     font-family: $font-name;
    //     src: url('../webfonts/#{$font-face}-Italic-webfont.eot');
    //     src: url('../webfonts/#{$font-face}-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    //          url('../webfonts/#{$font-face}-Italic-webfont.woff') format('woff'),
    //          url('../webfonts/#{$font-face}-Italic-webfont.ttf') format('truetype'),
    //          url('../webfonts/#{$font-face}-Italic-webfont.svg') format('svg');
    //     font-weight: $weight;
    //     font-style: italic;
    // }
}