/******************

Site-wide Variables

******************/


/*

COLORS

 */


// Website Colors
$color-white: #000000;
$color-black: #ffffff;

$color-foreground: $color-white;
$color-background: $color-black;


$color-highlight-foregound: $color-background;
$color-highlight-backgound: $color-foreground;

$link-color:        $color-foreground;
$link-hover:        darken($link-color, 9%);


/*

Typography

*/


// $sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
// $serif:             "Georgia", Cambria, Times New Roman, Times, serif;

// for fontface:
// @include font-builder("font name you call", "filename-no-extension", 400);

$font-size-mobile: 18px;
$font-size: 21px;
$font-size-large: 24px;
$line-height: 1.4;
$font-default: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-default-second:  "Helvetica Neue", Helvetica, Arial, sans-serif;



// Alert Colors

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

//Borders
$color-border: $color-foreground; // Setting up the default border colour used in buttons, forms, etc. (as defined /modules/_forms.scss)


//Buttons 
$color-btn: $color-background; // Setting up the default color for the colour of buttons (as defined in /modules/_btn.scss)
$color-btn-text: $color-foreground;
$color-btn-border: $color-border; //by default, this is the same as the general border definition

// Forms
$label-width: 100%; // this will determine whether labels and fields are side by side
$form-font: $font-default;


$form-color: $color-foreground;
$form-label-color: $form-color;
$form-placeholder-color: rgba($color-foreground, 0.8);
$form-color-background: $color-background;
$form-color-border: $color-foreground;
$form-color-border-focus: darken($color-foreground, 5);
$form-color-btn: $color-btn;
$form-color-btn-text: $color-btn-text;
$form-error-color: $alert-red;

// Nav Base Colors
$nav-link: $color-foreground;
$nav-link-hover: $color-foreground;
$nav-link-active: $color-foreground;
$nav-link-mobile: $color-background;
$nav-link-mobile-bgnd: $color-foreground;
$nav-link-mobile-active-bgnd: $color-foreground;
$nav-hamburger: $color-foreground;
$nav-hamburger-hover: $color-foreground;


// Pagination
$pagination-font: $color-foreground;
$pagination-font-hover: $color-background;
$pagination-border: $color-foreground;
$pagination-border-hover: $color-foreground;
$pagination-current-font: $color-foreground;
$pagination-current-border: $color-foreground;





/*
Inital Setup Variables
 */

$mobile-padding: 1rem; //the initial padding for the website in mobile
$internal-padding: $mobile-padding*2;


// ease variable
$ease: cubic-bezier(.03,.66,.11,1.01);

